{% extends "layout.html" %}
{%block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script>
    if(localStorage.getItem('username') && localStorage.getItem('channel')){
    document.addEventListener('DOMContentLoaded', ()=>{
        const username = localStorage.getItem('username')
        const channel = localStorage.getItem('channel')
        if(channel) {
            document.getElementById('channelName').innerHTML = channel
        }
        var data = {
            'username': username,
            'channel': channel
        }
        console.log(data)
        var socket = io.connect(location.protocol + '//' + document.domain + ':'+ location.port)
        socket.on('connect', () =>{
            console.log('connected')
            socket.emit('join', data)
            


            document.getElementById('messageInputBtn').onclick = () => {
                const message = document.getElementById('messageInput').value;
                console.log(message)
                data['message'] = message
                console.log(data)
                socket.emit('submit message', data)        
            };
        });
        socket.on('join', data=>{
            const li = document.createElement('li');
            li.innerHTML = `${data.username} has joined the room: ${data.room}`
            document.querySelector('#messages').append(li)
            data.user_list.forEach((item)=>{
                li.innerHTML = `${item}`
                document.querySelector('#userList').append(li)
            })
        });

        socket.on('announce message', data=>{
            const li = document.createElement('li');
            li.innerHTML = `Message recorded: ${data.message} by ${data.username}`;
            document.querySelector('#messages').append(li)
        })

    });
    function userLogout(){
        localStorage.clear()
        location.href = '/channels/view'
    }
}
else{
    location.href='/channels/view'
}
</script>
{%endblock%}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>Welcome to channel <span id='channelName'></span></h1>
            <ul id='messages'></ul>
            <input placeholder="Input message here" id='messageInput'>
            <button class="btn btn-primary" id='messageInputBtn'>submit</button>
        </div>
        <div class="col-md">
            <h3>User List</h3>
            <ul id='userList'></ul>
        </div>
    </div>
</div>

<form>
    <button onclick="userLogout()" class="btn btn-primary">Logout</button>
</form>
{%endblock%}




